body {
  font-family: "Ubuntu", sans-serif;
  margin: 0 0 auto 0;
  position: relative;
}
header{
  color: white;
  background-color:black;
  margin: 0;
  position: relative;
  margin-bottom: 60px
}
header .open {
  position: absolute;
  right:30px;
  top:0;
  height: 25px;
  width: 25px;
}
header h1{
  color: white;
  background-color:black;
  margin: 0;
}
#menu {
  color: white;
  font-size: 14px;
  background-color: black;
  padding: 20px 10px;
  position: fixed;
  width: 250px;
  height: 100vh;
  -webkit-transition: all 0.5s ease-out;;
  -moz-transition: all 0.5s ease-out;;
  -o-transition: all 0.5s ease-out;;
  transition: all 0.5s ease-out;
}
#menu a.menuItem {
  color: white;
  border-bottom: 2px solid white;
  padding: 10px 0;
  display: block;
  text-decoration: none;
}
#menu.active {
  right: 0;
  top: 0;
  opacity: 100%;
}
#menu.inactive {
  right: -290px;
  top: 0;
  opacity: 0;
}
#menu .close {
  display: block;
  font-size: 40px;
  color: white;
  background:none;
  border: none;
  text-align: right;
  display:block;
}



img {
  height: 700px;
  width: auto;
  display: block;
  margin: 10px auto;
  position: center;
}

#mainContent{
  margin-top: 150;
}